.message {
    border-radius: 5px;
    background-color: var(--light-gray);
    display: flex;
    align-items: center;
    padding: 5px 5px 7px 5px;
    width: fit-content;
    overflow-wrap: break-word;
}

.erasing {
    background-color: var(--main-gray);
}

.cursor {
    animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}