.wrapper {
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid var(--main-gray);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    width: 200px;
    height: 200px;
}

.avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}