.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 30px;
}

.playersNumbers {
    display: flex;
    justify-content: center;
}

