.reference {
    color: var(--main-green);
    text-decoration: underline;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    transition: all ease 0.3s;
}

@media (hover:hover) {
    .reference:hover {
        opacity: 0.8;
        transform: scale(1.1);
    }
}