.title {
    font-size: 200px;
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.eda {
    position: absolute;
    bottom: 40px;
    right: 40px;
}