.gameModeBtn {
    width: 160px;
    height: 160px;
    border-radius: 7px;
    background-color: var(--main-gray);
    box-shadow: 0 4px 10px rgba(0, 0, 0, .7);
    transition: all ease 0.3s;
    font-size: 20px;
    font-weight: 700;
}

@media (hover:hover) {
    .gameModeBtn:hover {
        transform: scale(1.2);
    }
}