.refWrapper {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 10px;
    padding: 20px;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.eda {
    position: absolute;
    bottom: 40px;
    right: 40px;
}