:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --main-green: #41B883;
  --main-gray: #1E2021;
  --light-gray: #2C2F30;
}

body {
  background-color: var(--main-gray);
  color: var(--main-green);
}

@font-face {
  font-family: 'ShareTechMono';
  src: url('/fonts/public/fonts/ShareTechMono-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}